/* #Global
================================================== */
body {
  font-family: 'Assistant', sans-serif;
}

/* #Utility
================================================== */
.text-purple {
  color: #FF03CD;
}

.text-gray {
  color: #A7A7A7;
}

.underline-purple {
  display: inline-block;
  padding-bottom: .25vw;
  position: relative;
}

.underline-purple::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3px;
  width: 57%;
  background-color: #FF03CD;
}

.underline-purple.center::after {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

@media (max-width: 1023.98px) {
  .underline-purple {
    padding-bottom: 3vw;
  }
}

/* #Btn
================================================== */
.btn {
  font-size: 1.25vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5vw 2vw;
  font-weight: 600;
  transition: all .5s ease;
  border: 1px solid transparent;
}

.btn-primary {
  color: white;
  background-color: black;
  border-radius: 500px;
}

.btn-primary:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.btn-secondary {
  color: black;
  background-color: white;
  border-radius: 500px;
}

.btn-secondary:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.btn.shadow {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

@media (max-width: 1023.98px) {
  .btn {
    font-size: 4.53vw;
    padding: 1.6vw 4.4vw;
  }
}

/* #Load More
================================================== */
.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more img {
  width: 3.5vw;
}

@media (max-width: 1023.98px) {
  .load-more img {
    width: 10vw;
  }
}

/* #Footer
================================================== */
.footer {
  background-color: black;
  color: white;
  padding: 2.2vw 0 1vw 0;
}

.footer .container {
  width: 89%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.footer-text {
  flex: 0 0 47.5vw;
  margin-left: auto;

  display: flex;
  align-items: flex-end;
}

.footer-text .btn {
  margin-right: 1.7vw;
  padding-top: 0;
  padding-bottom: 0;
}

.footer-social {
  flex: 0 0 21vw;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-social ul {
  display: flex;
  align-items: center;
}

.footer-social ul li:not(:last-child) {
  margin-left: 2.2vw;
}

.footer-social img {
  width: 1.6vw;
}

.footer-social p {
  margin-left: 2.6vw;
}

.footer-logo img {
  width: 9.15vw;
}

.footer-links {
  color: #7C7B7B;
  flex: 0 0 52vw;
  margin-left: auto;
  margin-top: 1.8vw;
}

.footer-links ul {
  display: flex;
}

.footer-links ul li:not(:last-child) {
  margin-left: 4.16vw;
}

.footer-payment img {
  width: 17.7vw;
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 9.33vw 0 5.33vw 0;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
  }

  .footer .container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .container>* {
    flex: 0 0 100%;
  }

  .footer-text {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #9A9A9A;
    padding: 0 7vw 9.3vw 7vw;
    margin-bottom: 10.6vw;
    order: -10;
  }

  .footer-text h2 {
    margin-bottom: .75vw;
  }

  .footer-text p {
    margin-bottom: 6.66vw;
  }

  .footer-text .btn {
    margin-right: 0;
    padding: 1.6vw 4.4vw;
  }

  .footer-logo {
    order: -9;
    margin-bottom: 8vw;
  }

  .footer-logo img {
    width: 48.8vw;
  }

  .footer-links {
    margin-left: 0;
    margin-top: 0;
    order: -8;
  }

  .footer-links ul {
    display: block;
    text-align: center;
  }

  .footer-links ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 7.33vw;
  }

  .footer-links.d-mobile {
    width: 92%;
    order: 1;
  }

  .footer-links.d-mobile ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-links.d-mobile ul li:not(:last-child) {
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer-social {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 12.6vw;
    margin-top: 2.9vw;
  }

  .footer-social ul {
    margin-top: 4.26vw;
  }

  .footer-social ul li:not(:last-child) {
    margin-left: 9vw;
  }

  .footer-social img {
    width: 6.5vw;
  }

  .footer-social p {
    margin-left: 0;
  }

  .footer-payment {
    width: 100%;
    border-bottom: 2px solid #9A9A9A;
    padding-bottom: 12vw;
    margin-bottom: 3.2vw;
  }

  .footer-payment img {
    width: 68.6vw;
    margin: 0 auto;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: .83vw;
  margin-bottom: 2vw;
}

.banner .img img,
.banner .img picture {
  width: 100%;
}

.banner .contact {
  position: absolute;
  left: 3.65vw;
  bottom: 1.56vw;
  width: 3.125vw;
}

@media (max-width: 1023.98px) {
  .banner .text {
    top: 27%;
  }

  .banner h1 {
    letter-spacing: 2.15vw;
    margin-bottom: 5vw;
    line-height: 1.17;
  }

  .banner .contact {
    left: 4vw;
    bottom: 13.3vw;
    width: 9.33vw;
  }
}

/* #Banner Large
================================================== */
.banner-lg {
  margin: 6vw 0 6.77vw 0;
}

.banner-lg .container {
  width: 79%;
  display: flex;
}

.banner-lg .container>* {
  flex: 0 0 50%;
}

.banner-lg .text {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5.2vw;
}

.banner-lg h2 {
  line-height: 1;
  margin-bottom: .5vw;
}

.banner-lg p {
  margin-bottom: 2.5vw;
}

.banner-lg svg {
  width: 1.4vw;
  height: 1vw;
}

.banner-lg .img img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .banner-lg {
    margin: 13.3vw 0;
    position: relative;
  }

  .banner-lg .container {
    width: 100%;
    display: block;
  }

  .banner-lg.alt .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-lg .text {
    background-color: transparent;
    align-items: center;
    text-align: center;
    padding: 0 4.66vw;

    position: absolute;
    top: 7.33vw;
    left: 0;
  }

  .banner-lg.alt .text {
    position: static;
    background-color: #F5F5F5;
    padding: 6.66vw;
  }

  .banner-lg p {
    margin-bottom: 6.66vw;
  }

  .banner-lg svg {
    width: 5.46vw;
    height: 4.26vw;
  }
}

/* #Banner Small
================================================== */
.banner-sm {
  margin: 5.7vw 0;
}

.banner-sm .container {
  width: 62.5%;
  display: flex;
}

.banner-sm .container>* {
  flex: 0 0 50%;
}

.banner-sm .text {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-sm h2 {
  margin-bottom: 1.5vw;
}

.banner-sm .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1023.98px) {
  .banner-sm {
    margin: 10.66vw 0 14vw 0;
  }

  .banner-sm .container {
    width: 100%;
    display: flex;
  }

  .banner-sm .text {
    align-items: flex-end;
    text-align: left;
    padding: 0 4vw;
  }

  .banner-sm h2 {
    margin-bottom: 4.66vw;
    line-height: 1.17;
  }
}

/* #Home Categories
================================================== */
.home-categories {
  margin: 1.2vw 0;
}

.home-categories ul {
  display: flex;
  flex-wrap: wrap;
}

.home-categories li {
  flex: 0 0 50%;
  position: relative;
}

.home-categories .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  z-index: 10;
}

.home-categories p {
  margin-bottom: 1.3vw;
}

/* Hover Animation */
.home-categories .img {
  position: relative;
  overflow: hidden;
}

.home-categories .img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  opacity: 1;

  transition: all .5s ease;
}

.home-categories li:hover .img::after {
  opacity: 0;
}

.home-categories img,
.home-categories picture {
  width: 100%;
}

.home-categories picture {
  transform: scale(1.01);
  backface-visibility: hidden;

  transition: all .6s ease;
}

.home-categories li:hover picture {
  transform: scale(1.03);
}

.home-categories a {
  opacity: 0;
  visibility: hidden;

  transition: all .5s ease;
}

.home-categories li:hover a {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023.98px) {
  .home-categories {
    margin: 10.6vw 0;
    overflow: hidden;
  }

  .home-categories .container {
    width: 92%;
  }

  .home-categories ul {
    display: flex;
    flex-direction: column;
  }

  .home-categories li {
    overflow: hidden;
    flex: 0;
  }

  .home-categories li {
    margin-bottom: 4vw;
  }

  .home-categories .text {
    transform: translateY(-50%) translateX(-25%);
  }

  .home-categories li:nth-child(2) .text,
  .home-categories li:nth-child(3) .text {
    transform: translateY(-50%) translateX(25%);
  }

  .home-categories li:nth-child(3) {
    order: 1;
    margin-bottom: 0;
  }

  .home-categories p {
    margin-bottom: 2vw;
  }

  /* Hover Animation */
  .home-categories .img::after {
    display: none;
  }

  .home-categories picture {
    transform: none !important;
  }

  .home-categories a {
    opacity: 1 !important;
    visibility: visible !important;
  }
}

/* #Home Instagram
================================================== */
.home-instagram {
  margin: 5.7vw 0;
  text-align: center;
}

.home-instagram .container {
  width: 62.5%;
}

.home-instagram h2 {
  line-height: 1;
}

.home-instagram ul {
  display: flex;
  flex-wrap: wrap;

  margin: 3.3vw -1.1vw 1.75vw -1.1vw;
}

.home-instagram ul li {
  padding: 1.1vw;
  flex: 0 0 25%;
}

.home-instagram ul li a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;

  position: relative;
  padding-top: 100%;
}

.home-instagram ul li a img {
  transition: all .5s ease;
  transform: scale(1.01);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-instagram ul li a:hover img {
  transform: scale(1.05);
}

@media (max-width: 1023.98px) {
  .home-instagram {
    margin: 13.3vw 0;
  }

  .home-instagram .container {
    width: 92%;
  }

  .home-instagram ul {
    margin: 4.4vw -2vw;
  }

  .home-instagram ul li {
    padding: 2vw;
    flex: 0 0 50%;
  }
}

/* #Home Support
================================================== */
.home-support {
  margin-top: 6.77vw;
  position: relative;
}

.home-support .text {
  position: absolute;
  top: 4.5vw;
  left: 13.5vw;
}

.home-support h2 {
  margin-bottom: .5vw;
  line-height: 1.2;
}

.home-support p {
  margin-bottom: 1.5vw;
  line-height: 1.2;
}

.home-support .img img,
.home-support .img picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-support {
    margin-top: 13.3vw;
    margin-bottom: 17.3vw;
  }

  .home-support .text {
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-support h2 {
    margin-bottom: .5vw;
  }

  .home-support p {
    margin-bottom: 6.66vw;
  }
}

/* #About Logo
================================================== */
.about-logo {
  padding: 3.9vw 0 2.6vw 0;
}

.about-logo .container {
  width: 62.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-logo img {
  width: 13.2vw;
}

@media (max-width: 1023.98px) {
  .about-logo {
    padding: 10vw 0 7.33vw 0;
  }

  .about-logo .container {
    width: 92%;
  }

  .about-logo img {
    width: 55vw;
  }
}

/* #About Heading
================================================== */
.about-heading {
  margin-bottom: 5.73vw;
}

.about-heading .container {
  width: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-heading h1 {
  margin-bottom: 1.3vw;
}

.about-heading p {
  width: 45.5vw;
}

@media (max-width: 1023.98px) {
  .about-heading {
    margin-bottom: 6.66vw;
  }

  .about-heading .container {
    width: 86%;
  }

  .about-heading h1 {
    margin-bottom: 2.66vw;
  }

  .about-heading p {
    width: 100%;
  }
}

/* #About Media
================================================== */
.about-media {
  margin: 5.73vw 0;
}

.about-media .container {
  width: 62.5%;
  display: flex;
  justify-content: space-between;
}

.about-media.alt .container {
  flex-direction: row-reverse;
  align-items: center;
}

.about-media .img {
  flex: 0 0 47.5%
}

.about-media .img img {
  width: 100%;
}

.about-media .text {
  flex: 0 0 47.5%
}

.about-media h2 {
  margin-bottom: 1.5vw;
}

.about-media h3 {
  margin-top: 1.5vw;
}

.about-media h4 {
  margin-bottom: 1vw;
}

.about-media p svg {
  width: 1.4vw;
  height: 1vw;
}

@media (max-width: 1023.98px) {
  .about-media {
    margin: 12vw 0;
  }

  .about-media:last-of-type {
    margin-bottom: 17.3vw;
  }

  .about-media .container {
    width: 92%;
    flex-direction: column;
  }

  .about-media.alt .container {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .about-media .img {
    flex: 0 0 100%;
    margin-bottom: 10vw;
  }

  .about-media.alt .img {
    margin-bottom: 0;
    margin-top: 10vw;
  }

  .about-media .text {
    flex: 0 0 100%
  }

  .about-media h2 {
    margin-bottom: 2.66vw;
  }

  .about-media h3 {
    margin-top: 7.33vw;
  }

  .about-media h4 {
    margin-bottom: 4vw;
  }

  .about-media p svg {
    width: 5.46vw;
    height: 4.26vw;
  }
}

/* #About Banner
================================================== */
.about-banner {
  background-color: #F5F5F5;
  padding: 2.85vw 0;
}

.about-banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 44%;
}

.about-banner h2 {
  margin-bottom: 1.5vw;
}

@media (max-width: 1023.98px) {
  .about-banner {
    padding: 10.66vw 0;
  }

  .about-banner .container {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right !important;
    width: 92%;
  }

  .about-banner h2 {
    margin-bottom: 2.66vw;
    text-align: right !important;
  }

  .about-banner h2::after {
    left: auto !important;
    right: 0 !important;
    transform: none !important;
  }
}

/* #Blog
================================================== */
.blog {
  padding: 3.125vw 0 6.77vw 0;
}

.blog .container {
  width: 79%;
}

.blog .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 28.9vw;
  margin: 0 auto 3vw auto;
}

.blog .blog-title {
  margin-bottom: 1vw;
}

.blog .blog-text {
  margin-bottom: 1.5vw;
}

.blog .posts {
  display: flex;
  flex-wrap: wrap;
  margin: -1.3vw -1.56vw;
}

.blog .post {
  flex: 0 0 25%;
  padding: 1.3vw 1.56vw;
}

.blog .post-img {
  margin-bottom: 1vw;
}

.blog .post-img,
.blog .post-img img {
  width: 100%;
}

.blog .post-img img {
  height: 17.2vw;
  object-fit: cover;
  object-position: center;
}

.blog .post-title {
  margin-bottom: .75vw;
}

.blog .post-link {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #FF03CD;
  padding-bottom: .1vw;
}

.blog .post-link .icon {
  margin-right: .45vw;
  margin-bottom: -.05vw;
  width: 0.3125vw;
  display: block;
}

.blog .post-link .icon img {
  width: 100%;
}

.blog .load-more {
  margin-top: 3.125vw;
}

@media (max-width: 1023.98px) {
  .blog {
    padding: 8vw 0 17.33vw 0;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    margin-top: -10vw;
    background-color: white;
    z-index: 1;
    position: relative;
  }

  .blog .container {
    width: 92%;
  }

  .blog .text {
    max-width: 80vw;
    margin: 0 auto 6.66vw auto;
  }

  .blog .blog-title {
    margin-bottom: 2.66vw;
  }

  .blog .blog-text {
    margin-bottom: 4vw;
  }

  .blog .posts {
    display: block;
    margin: 0;
  }

  .blog .post {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .blog .post:not(:last-child) {
    margin-bottom: 10vw;
  }

  .blog .post-img {
    margin-bottom: 2.66vw;
    position: relative;
  }

  .blog .post-img img {
    height: 66.666vw;
  }

  .blog .post-title {
    margin-bottom: 4vw;
  }

  .blog .post-link {
    padding-bottom: .4vw;
  }

  .blog .post-link .icon {
    margin-right: 1.33vw;
    margin-bottom: -.4vw;
    width: 1.33vw;
  }

  .blog .load-more {
    margin-top: 11.33vw;
  }
}

/* #Blog Post
================================================== */
.blog-post {
  padding: 3.125vw 0 6.77vw 0;
}

.blog-post .container {
  width: 62.5%;
}

/* Header */
.blog-post-header {
  margin-bottom: 1.5vw;
}

.blog-post-title {
  margin-bottom: 1vw;
  padding-bottom: 1vw;
}

.blog-post-subtitle {
  color: #434343;
}

/* Info */
.blog-post-info {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 0;
  margin-bottom: 1.5vw;
}

.blog-post-info>p span:last-child {
  margin-right: 1.5vw;
}

/* Body */
.blog-post-body {
  margin-bottom: 3.65vw;
}

.blog-post-body .img {
  margin: 1.5vw 0;
}

.blog-post-body .img,
.blog-post-body .img img {
  width: 100%;
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4 {
  font-size: 1.45vw;
  color: #434343;
  margin-bottom: 1vw;
}

.blog-post-body p {
  font-size: 0.94vw;
}

/* Footer */
.blog-post-footer {
  border-top: 1px solid #f1f1f1;
  padding-top: .5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-post-footer .next a,
.blog-post-footer .previous a {
  display: flex;
  align-items: center;
}

.blog-post-footer .next p span,
.blog-post-footer .previous p span {
  display: block;
  line-height: 1;
}

.blog-post-footer .next p {
  margin-right: .5vw;
}

.blog-post-footer .previous p {
  margin-left: .5vw;
}

.blog-post-footer .previous {
  text-align: left;
}

.blog-post-footer img {
  width: 1vw;
}

/* Social */
.blog-post-social {
  display: flex;
  align-items: center;
}

.blog-post-social ul {
  display: flex;
  align-items: center;
  margin-right: .68vw;
}

.blog-post-social li:not(:last-child) {
  margin-left: 1vw;
}

.blog-post-social img {
  width: 1.45vw;
}

@media (max-width: 1023.98px) {
  .blog-post {
    padding: 8vw 0 17.33vw 0;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    margin-top: -10vw;
    background-color: white;
    z-index: 1;
    position: relative;
  }

  .blog-post .container {
    width: 92%;
  }

  /* Header */
  .blog-post-header {
    margin-bottom: 4vw;
  }

  .blog-post-title {
    margin-bottom: 3vw;
    padding-bottom: 3vw;
  }

  /* Info */
  .blog-post-info {
    border-top: none;
    border-bottom: none;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 5.33vw;
  }

  .blog-post-info>p {
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 0;
    margin-bottom: 5.33vw;
  }

  .blog-post-info>p span:last-child {
    margin-right: 0;
  }

  /* Body */
  .blog-post-body {
    margin-bottom: 10.66vw;
  }

  .blog-post-body .img {
    margin: 6vw 0;
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4 {
    font-size: 4.53vw;
    margin-bottom: 2vw;
  }

  .blog-post-body p {
    font-size: 4vw;
  }

  /* Footer */
  .blog-post-footer {
    border-top: none;
    padding-top: 0;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .blog-post-footer .next p {
    margin-right: 1.33vw;
  }

  .blog-post-footer .previous p {
    margin-left: 1.33vw;
  }

  .blog-post-footer img {
    width: 4.66vw;
  }

  .blog-post-footer .blog-post-social {
    flex: 0 0 100%;
    order: -1;
    justify-content: center;
    padding-bottom: 10vw;
    border-bottom: 1px solid #707070;
    margin-bottom: 4vw;
  }

  /* Social */
  .blog-post-social ul {
    margin-right: 3.73vw;
  }

  .blog-post-social li:not(:last-child) {
    margin-left: 3.73vw;
  }

  .blog-post-social img {
    width: 5.73vw;
  }
}

/* #404
================================================== */
.e-404 {
  padding: 3.125vw 0 6.77vw 0;
}

.e-404 .container {
  width: 79%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.e-404-title {
  margin-bottom: 1vw;
}

.e-404-subtitle {
  margin-bottom: .5vw;
}

.e-404-text {
  margin-bottom: 2.85vw;
}

@media (max-width: 1023.98px) {
  .e-404 {
    padding: 8vw 0 17.33vw 0;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    margin-top: -10vw;
    background-color: white;
    z-index: 1;
    position: relative;
  }

  .e-404 .container {
    width: 77%;
  }

  .e-404-title {
    margin-bottom: 2.66vw;
  }

  .e-404-subtitle {
    margin-bottom: 2.66vw;
  }

  .e-404-text {
    margin-bottom: 8vw;
  }
}

/* #Customer Service
================================================== */
.customer-service {
  overflow: hidden;
  margin-top: -2.76vw;
  position: relative;
  z-index: 1;
  padding-bottom: 6.77vw;
}

.customer-service .heading {
  text-align: center;
  padding: 3.125vw 0;
}

.customer-service .customer-service-title {
  margin-bottom: 1vw;
  line-height: 1.1;
  padding-bottom: 1vw;
}

.customer-service .text-content h1,
.customer-service .text-content h2,
.customer-service .text-content h3,
.customer-service .text-content h4 {
  font-size: 1.45vw;
  font-weight: 600;
  margin: 1.5vw 0;
  border-bottom: 2px solid #FF03CD;
  display: inline-block;
  padding-bottom: .25vw;
}

.customer-service .text-content p,
.customer-service .text-content ul li {
  font-size: 1.04vw;
  margin-bottom: 1vw;
}

.customer-service .text-content ul li::before {
  content: '• ';
}

.qa .container,
.shipping .container,
.refund .container,
.tos .container {
  width: 62.5%;
}

.customer-service .banner-lg {
  margin: 3.9vw 0 0 0;
}

.customer-service .banner-lg .container {
  width: 100%;
}

.customer-service .banner-lg h2 {
  margin-bottom: 1vw;
}

.customer-service .accordion:not(:last-of-type) {
  margin-bottom: 3.9vw;
}

.customer-service .collapse-toggler {
  border-bottom: 1px solid #CECECE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 0;
}

.customer-service .collapse-toggler p {
  margin: 0;
  font-size: 1.25vw;
  font-weight: 600;
}

.customer-service .collapse>div {
  margin-top: 1vw;
}

.customer-service .simbol {
  transition: all .5s ease;
}

.customer-service .simbol img {
  width: .78vw;
}

.customer-service .show .simbol {
  transform: rotate(45deg);
}

@media (min-width: 1024px) {
  .customer-service .banner-lg .text {
    padding: 0 3vw;
  }
}

@media (max-width: 1023.98px) {
  .customer-service {
    margin-top: 0;
    padding: 8vw 0 17.33vw 0;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    margin-top: -10vw;
    background-color: white;
    z-index: 1;
    position: relative;
  }

  .customer-service .heading {
    padding: 9.33vw 0 8vw 0;
  }

  .customer-service .customer-service-title {
    margin-bottom: 2.66vw;
    padding-bottom: 3vw;
  }

  .customer-service .text-content h1,
  .customer-service .text-content h2,
  .customer-service .text-content h3,
  .customer-service .text-content h4 {
    font-size: 6.66vw;
    margin: 6.66vw 0;
  }

  .customer-service .text-content p,
  .customer-service .text-content ul li {
    font-size: 4vw;
    margin-bottom: 4vw;
  }

  .qa .container,
  .shipping .container,
  .refund .container,
  .tos .container {
    width: 92%;
  }

  .customer-service .banner-lg {
    margin: 12vw 0 0 0;
  }

  .customer-service .banner-lg h2 {
    margin-bottom: 2vw;
  }

  .customer-service .banner-lg p br {
    display: none;
  }

  .customer-service .accordion:not(:last-of-type) {
    margin-bottom: 10.65vw;
  }

  .customer-service .collapse-toggler {
    padding: 4vw 0;
  }

  .customer-service .collapse-toggler p {
    font-size: 5.6vw;
    margin: 0;
  }

  .customer-service .collapse>div {
    margin-top: 3vw;
  }

  .customer-service .simbol {
    transition: all .5s ease;
  }

  .customer-service .simbol img {
    width: .78vw;
  }

  .customer-service .show .simbol {
    transform: rotate(45deg);
  }

  .customer-service .simbol img {
    width: 3.33vw;
  }
}

/* #Customer Bar
================================================== */
.customer-bar .container {
  width: 62.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5vw 3.125vw;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: .5vw;
}

.customer-bar .text {
  padding-left: 3.125vw;
  min-width: 12.5vw;
}

.customer-bar .links {
  flex-grow: 1;
}

.customer-bar .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5vw;
  border-radius: .5vw;
  border: 1px solid black;
  opacity: .4;
  height: 100%;
}

.customer-bar .link.active {
  opacity: 1;
}

.customer-bar .link .img {
  height: 1.875vw;
  margin-bottom: .25vw;
}

.customer-bar .link .img img {
  height: 100%;
}

.customer-bar .swiper-container {
  margin: 0 -.9vw;
}

.customer-bar .swiper-slide {
  padding: 0 .9vw;
  height: auto;
}

@media (min-width: 1024px) {
  .customer-bar .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .customer-bar {
    margin-top: 0;
  }

  .customer-bar .container {
    width: 100%;
    display: block;
    padding: 0;
    padding-right: 0.66vw;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
  }

  .customer-bar .text {
    padding-left: 0;
  }

  .customer-bar .link {
    justify-content: flex-start;
    padding: 2.2vw 3vw;
    border-radius: 1.33vw;
  }

  .customer-bar .link .img {
    height: 7.33vw;
    margin-bottom: 1.33vw;
  }

  .customer-bar .link .img img {
    width: 100%;
  }

  .customer-bar .swiper-container {
    margin: 0;
    padding: 6vw 0 9vw 0;
  }

  .customer-bar .swiper-slide {
    padding: 0 1.66vw;
  }

  .customer-bar .swiper-pagination {
    bottom: 0;
  }

  .customer-bar .swiper-pagination-bullet-active {
    background-color: black;
  }

  .swiper-pagination-bullet {
    background: #F0F0F0;
    opacity: 1;
  }
}

/* #Contact Us / VIP
================================================== */
.contact-us,
.vip {
  padding-bottom: 6.77vw;
  margin-top: -3.125vw;
  position: relative;
  z-index: 1;
}

.contact-us .container,
.vip .container {
  width: 79%;
  display: flex;
  align-items: center;
}

.contact-us .container>*,
.vip .container>* {
  flex: 0 0 50%;
}

@media (max-width: 1023.98px) {

  .contact-us,
  .vip {
    margin-top: 0;
    padding: 8vw 0 17.33vw 0;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    margin-top: -10vw;
    background-color: white;
    z-index: 1;
    position: relative;
  }

  .contact-us .container,
  .vip .container {
    width: 100%;
    display: block;
    padding: 0 4%;
  }
}

/* Form */
.contact-us .form,
.vip .form {
  border-radius: .5vw;
  box-shadow: 0 3px 24px rgba(0, 0, 0, .1);
  padding: 2vw 3.65vw 3.125vw 3.65vw;
  background-color: white;
}

.contact-us .form h1,
.vip .form h1 {
  margin-bottom: 1vw;
}

.contact-us .form>p:first-of-type,
.vip .form>p:first-of-type {
  margin-bottom: 1vw;
}

.contact-us .form form,
.vip .form form {
  margin-top: 1vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us .form form h2,
.vip .form form h2 {
  margin-bottom: 1.45vw;
  flex: 0 0 100%;
}

.contact-us .form-group.input,
.vip .form-group.input {
  flex: 0 0 46%;
  margin-bottom: 1.3vw;
}

.contact-us .form-group.input input,
.vip .form-group.input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #CECECE;
  color: black;
  font-size: 1.04vw;
  padding: 0.45vw 0;
}

.contact-us .form-group.input input::placeholder,
.vip .form-group.input input::placeholder {
  color: black;
}

.contact-us .form-group.select,
.vip .form-group.select {
  flex: 0 0 46%;
  margin-bottom: 1.5vw;
}

.contact-us .form-group.select select,
.vip .form-group.select select {
  width: 100%;
  font-size: 1.04vw;
  padding: 0.45vw 0;
  border: none;
  border-bottom: 1px solid #CECECE;
  font-weight: 300;
}

.contact-us .form-group.select option,
.vip .form-group.select option {
  font-weight: 300;
}

.contact-us .form-group.textarea,
.vip .form-group.textarea {
  flex: 0 0 100%;
  margin-bottom: 1.5vw;
}

.contact-us .form-group.textarea textarea,
.vip .form-group.textarea textarea {
  width: 100%;
  border: 1px solid #CECECE;
  border-radius: .5vw;
  font-size: 1.04vw;
  padding: 0.45vw;
  resize: none;
}

.contact-us .form-group.checkbox,
.vip .form-group.checkbox {
  flex: 0 0 100%;
}

.contact-us .form-group.checkbox input,
.vip .form-group.checkbox input {
  width: .78vw;
  height: .78vw;
  cursor: pointer;
  appearance: none;
  border-radius: 5px;
  border-color: #9A9A9A;
  border-width: 1px;
  border-style: solid;
  flex: 0 0 .78vw;
  margin-top: .3vw;
}

.contact-us .form-group.checkbox input:checked,
.vip .form-group.checkbox input:checked {
  border-color: #FF0FBE;
  background-color: #FF0FBE;
  background-size: 0.4vw 0.4vw;
}

.contact-us .form-group.checkbox:not(:last-of-type),
.vip .form-group.checkbox:not(:last-of-type) {
  margin-bottom: .75vw;
}

.contact-us .form-group.submit-btn,
.vip .form-group.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  margin-top: 2.6vw;
}

.contact-us .form-group.submit-btn .btn,
.vip .form-group.submit-btn .btn {
  min-width: 16.15vw;
}

@media (max-width: 1023.98px) {
  .contact-us .form,
  .vip .form {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .contact-us .form h1,
  .vip .form h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2.66vw;
  }

  .contact-us .form h1::after,
  .vip .form h1::after {
    right: 50%;
    transform: translateX(50%);
  }

  .contact-us .form>p,
  .vip .form>p {
    text-align: center;
  }

  .contact-us .form>p:first-of-type,
  .vip .form>p:first-of-type {
    margin-bottom: 4vw;
  }

  .contact-us .form form,
  .vip .form form {
    margin-top: 6vw;
  }

  .contact-us .form form h2,
  .vip .form form h2 {
    margin-bottom: 4.66vw;
    margin-top: 3.33vw;
  }

  .contact-us .form-group.input,
  .vip .form-group.input {
    flex: 0 0 100%;
    margin-bottom: 2.66vw;
  }

  .contact-us .form-group.input:last-of-type,
  .vip .form-group.input:last-of-type {
    margin-bottom: 6vw;
  }

  .contact-us .form-group.input input,
  .vip .form-group.input input {
    font-size: 4.26vw;
    padding: 2.5vw 0;
  }

  .contact-us .form-group.select,
  .vip .form-group.select {
    margin-bottom: 5.33vw;
  }

  .contact-us .form-group.select select,
  .vip .form-group.select select {
    font-size: 4.26vw;
    padding: 2.5vw 0;
  }

  .contact-us .form-group.textarea,
  .vip .form-group.textarea {
    flex: 0 0 100%;
    margin-bottom: 5.33vw;
    margin-top: 3.33vw;
  }

  .contact-us .form-group.textarea textarea,
  .vip .form-group.textarea textarea {
    border-radius: 1.33vw;
    font-size: 4.26vw;
    padding: 2.5vw;
  }

  .contact-us .form-group.checkbox,
  .vip .form-group.checkbox {
    flex: 0 0 100%;
  }

  .contact-us .form-group.checkbox input,
  .vip .form-group.checkbox input {
    width: 4.13vw;
    height: 4.13vw;
    flex: 0 0 4.13vw;
    margin-top: .5vw;
  }

  .contact-us .form-group.checkbox input:checked,
  .vip .form-group.checkbox input:checked {
    background-size: 2.3vw 2.3vw;
  }

  .contact-us .form-group.checkbox:not(:last-of-type),
  .vip .form-group.checkbox:not(:last-of-type) {
    margin-bottom: 3.66vw;
  }

  .contact-us .form-group.submit-btn,
  .vip .form-group.submit-btn {
    margin-top: 10vw;
  }

  .contact-us .form-group.submit-btn .btn,
  .vip .form-group.submit-btn .btn {
    width: 100%;
  }
}

/* Article */
.contact-us .article,
.vip .article {
  padding: 0 3.65vw;
}

.contact-us .article .img,
.vip .article .img {
  margin-bottom: 1vw;
}

.contact-us .article .img,
.contact-us .article .img img,
.vip .article .img,
.vip .article .img img {
  width: 100%;
}

.contact-us .article-title,
.vip .article-title {
  margin-bottom: .5vw;
}

.contact-us .article-subtitle,
.vip .article-subtitle {
  margin-bottom: 1.5vw;
  max-width: 80%;
}

.contact-us .article-link,
.vip .article-link {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #FF03CD;
  padding-bottom: .1vw;
}

.contact-us .article-link .icon,
.vip .article-link .icon {
  margin-right: .45vw;
  margin-bottom: -.05vw;
  width: 0.3125vw;
  display: block;
}

.contact-us .article-link .icon img,
.vip .article-link .icon img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .contact-us .article,
  .vip .article {
    padding: 0;
    margin-top: 17.33vw;
  }

  .contact-us .article .img,
  .vip .article .img {
    margin-bottom: 2.66vw;
  }

  .contact-us .article-title,
  .vip .article-title {
    margin-bottom: 2.66vw;
  }

  .contact-us .article-subtitle,
  .vip .article-subtitle {
    margin-bottom: 6vw;
    max-width: 100%;
  }

  .contact-us .article-link,
  .vip .article-link {
    padding-bottom: .4vw;
  }

  .contact-us .article-link .icon,
  .vip .article-link .icon {
    margin-right: 1.33vw;
    margin-bottom: -.4vw;
    width: 1.33vw;
  }
}

/* Contact Info */
.contact-us .contact-info,
.vip .contact-info {
  text-align: center;
  margin-top: 3.125vw;
}

.contact-us .contact-info ul,
.vip .contact-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .75vw;
}

.contact-us .contact-info ul li a,
.vip .contact-info ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: .5vw;
}

.contact-us .contact-info ul li:not(:first-child) a,
.vip .contact-info ul li:not(:first-child) a {
  padding-right: .5vw;
}

.contact-us .contact-info ul li:last-child a,
.vip .contact-info ul li:last-child a {
  padding-left: 0;
}

.contact-us .contact-info ul li:not(:last-child) a,
.vip .contact-info ul li:not(:last-child) a {
  border-left: 1px solid black;
}

.contact-us .contact-info img,
.vip .contact-info img {
  width: 1.3vw;
  height: 1.3vw;
  object-fit: contain;
  margin-left: .5vw;
}

@media (max-width: 1023.98px) {
  .contact-us .contact-info,
  .vip .contact-info {
    margin-top: 10vw;
  }

  .contact-us .contact-info ul,
  .vip .contact-info ul {
    display: block;
    margin-bottom: 1vw;
  }

  .contact-us .contact-info ul li,
  .vip .contact-info ul li {
    margin-bottom: 5.33vw;
  }

  .contact-us .contact-info ul li a,
  .vip .contact-info ul li a {
    flex-direction: column;
    padding-left: 0;
  }

  .contact-us .contact-info ul li:not(:first-child) a,
  .vip .contact-info ul li:not(:first-child) a {
    padding-right: 0;
  }

  .contact-us .contact-info ul li:last-child a,
  .vip .contact-info ul li:last-child a {
    padding-left: 0;
  }

  .contact-us .contact-info ul li:not(:last-child) a,
  .vip .contact-info ul li:not(:last-child) a {
    border-left: none;
    position: relative;
    padding-bottom: 5.33vw;
  }

  .contact-us .contact-info ul li:not(:last-child) a::after,
  .vip .contact-info ul li:not(:last-child) a::after {
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    height: 1px;
    background-color: black;
  }

  .contact-us .contact-info img,
  .vip .contact-info img {
    width: 8vw;
    height: 7.33vw;
    object-fit: contain;
    margin-left: 0;
    margin-bottom: 2vw;
  }
}