/* #Menu
================================================== */
.header-container-wrapper .header-nav-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .header-container-wrapper .container-content .header-nav-block-wrapper .header-submenu-container .sub-menu-container .nav-links-block .nav-links .item-link {
    padding: .5rem 0;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block .header-search-container form .search-submit {
    flex: 0 0 5vw;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block .header-search-container form .search-input {
    flex: 0;
    flex-grow: 1;
    outline: none!important;
  }

  .header-container-wrapper .header-nav-btn i {
    margin-left: .5vw;
  }
}

@media (max-width: 1023.98px) {
  .header-container-wrapper .header-nav-list .header-nav-item.circle button, .header-container-wrapper .header-nav-list .header-nav-item.circle a {
    padding: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-container-wrapper .header-nav-list .header-nav-item.circle button, .header-container-wrapper .header-nav-list .header-nav-item .goi-heart-filled {
    font-size: 4rem;
  }

  .header-container-wrapper .header-nav-list.f-left .header-nav-item {
    margin-right: 2.66vw;
  }

  .header-container-wrapper .container-content .top-logo-row-wrapper .logo-box {
    text-align: right;
    padding-right: 4vw;
  }

  .header-container-wrapper .container-content .top-row-text-wrapper {
    left: 4vw;
  }

  .header-container-wrapper .header-nav-row-wrapper {
    width: 92%;
  }

  .header-container-wrapper .header-nav-list {
    top: 3rem;
  }

  .header-container-wrapper .header-nav-list.f-right .header-nav-item {
    margin-left: 2.66vw;
  }

  .header-container-wrapper .header-nav-btn i {
    margin-left: 1vw;
  }

  /* Search */
  .header-container-wrapper .container-content .header-search-block-wrapper {
    z-index: 110;
    overflow-y: auto;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper.open {
    height: calc(100vh - 6.26vw);
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block {
    height: 16.66vw;
    box-shadow: none;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper.open .search-result-block {
    top: 16.66vw;
    height: calc(100vh - 10.66vw);
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block {
    top: -16.66vw;
    display: flex;
    align-items: center;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block .header-search-close-btn-box .header-search-close-btn {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block .header-search-container-form,
  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .popular-search-container {
    width: 92%;
    flex-direction: row;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block .header-search-container form {
    height: 100%;
    border-radius: 500px;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block .header-search-container form .search-input {
    height: 100%;
    padding: 0 2vw;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .header-search-block .header-search-container form .search-submit {
    width: auto;
    height: 100%;
    flex: 0 0 16vw;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .search-title {
    padding: 0;
    font-size: 4rem;
    margin-bottom: 0;
    padding: 0 1.04167rem;
    line-height: 2;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .popular-search-container .popular-search-list .popular-item .popular-search-link {
    height: auto;
    font-size: 4rem;
    line-height: 2;
    border-radius: 1.82292rem;
    padding: 0 1.04167rem;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container {
    width: 92%;
    padding: 0;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .product-search-list .product-search-item .product-item .product-meta .product-price,
  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .product-search-list .product-search-item .product-item .product-meta .product-name {
    font-size: 4rem;
    margin-bottom: 2vw;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .product-search-list .product-search-item {
    width: 50%;
    padding: 2rem;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .product-search-list .product-search-item .product-item {
    flex-direction: column;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .product-search-list .product-search-item .product-item .product-meta {
    max-width: 100%;
    text-align: center;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .product-search-list .product-search-item .product-item .product-image {
    max-width: 100%;
    margin-bottom: 3.2vw;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .product-search-list .product-search-item .product-item .product-image img {
    width: 100%;
    height: auto;
    object-fit: initial;
  }

  .header-container-wrapper .container-content .header-search-block-wrapper .search-result-block .product-search-list-container .link-to-shop a {
    font-size: 4vw;
    margin-bottom: 10vw;
  }
}

/* #Login
================================================== */
@media (min-width: 1024px) {
  .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-list {
    margin: 0 auto 3.125rem auto;
  }
  
  .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .login-username, .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .login-password, .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .registration-username, .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .registration-mail,
  .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .login-remember {
    margin-bottom: 1.3vw;
  }
}

@media (max-width: 1024px) {
  .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-list {
    margin: 0 auto 8rem auto;
    max-width: 85%;
  }

  .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .login-username, .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .login-password, .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .registration-username, .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .registration-mail,
  .side-page-lightbox-wrapper .side-page-lightbox-container.login-form .tab-block form .login-remember {
    margin-bottom: 6vw;
  }
}

/* #Instagram
================================================== */
@media (max-width: 1023.98px) {
  .instagram ul {
    margin: 4.4vw -1.33vw;
  }

  .instagram ul li {
    padding: 1.33vw;
  }
}

/* #Footer
================================================== */
@media (min-width: 1024px) {
  .footer-container-wrapper .footer-container .footer-container-content {
    align-items: flex-end;
  }
  
  .footer-container-wrapper .footer-text-vip-content .button-vip-impress-me-box .button-vip-impress-me {
    padding: .1vw 2vw;
    margin-right: 1.7vw;
  }
  
  .footer-container-wrapper .footer-text-vip-content {
    display: flex;
    align-items: flex-end;
  }
  
  .footer-container-wrapper .footer-nav-box-content {
    padding-bottom: 0;
    padding-top: 2.2vw;
  }
}

@media (max-width: 1023.98px) {
  .footer-container-wrapper .footer-pay-icon,
  .footer-container-wrapper .footer-site-logo {
    display: flex;
    justify-content: center;
  }

  .footer-container-wrapper .footer-site-logo img {
    width: 48.8vw;
  }

  .footer-container-wrapper .social-footer-content {
    margin-bottom: 12.66vw;
  }
}