/* #Footer
================================================== */
@media (min-width: 1024px) {
  .footer-container-wrapper .footer-container .footer-container-content {
    align-items: flex-end;
  }
  
  .footer-container-wrapper .footer-text-vip-content .button-vip-impress-me-box .button-vip-impress-me {
    padding: .1vw 2vw;
    margin-right: 1.7vw;
  }
  
  .footer-container-wrapper .footer-text-vip-content {
    display: flex;
    align-items: flex-end;
  }
  
  .footer-container-wrapper .footer-nav-box-content {
    padding-bottom: 0;
    padding-top: 2.2vw;
  }
}

@media (max-width: 1023.98px) {
  .footer-container-wrapper .footer-pay-icon,
  .footer-container-wrapper .footer-site-logo {
    display: flex;
    justify-content: center;
  }

  .footer-container-wrapper .footer-site-logo img {
    width: 48.8vw;
  }
}